[Desktop Entry]
Icon=application-x-shellscript
Name=install.sh
Type=Link
URL[$e]=file:$HOME/src/dotfiles/dev/install.sh
X-KDE-LastOpenedWith=org.kde.kate
