[Desktop Entry]
Icon=application-x-xz-compressed-tar
Name=Nordic-Solid.tar.xz
Type=Link
URL[$e]=file:$HOME/Downloads/Nordic-Solid.tar.xz
X-KDE-LastOpenedWith=
