[Desktop Entry]
Icon=application-x-xz-compressed-tar
Name=Nordic-Darker.tar.xz
Type=Link
URL[$e]=file:$HOME/Downloads/Nordic-Darker.tar.xz
X-KDE-LastOpenedWith=
